/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin        : 0;
  padding       : 0;
  border        : 0;
  font-size     : 100%;
  font          : inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing : 0;
}

a {
  text-decoration: none;
}

/* rwd img css，可當作是 CSS Reset 其中一個 */

img {
  max-width: 100%;
  height   : auto;
}

/* 全域 border box */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width    : 1000px;
  padding-right: 15px;
  padding-left : 15px;
  margin       : 0 auto;
}

/* CSS Reset end */


/* header&menu */

.header {
  display        : flex;
  flex-flow      : row;
  justify-content: space-between;
  padding-top    : 20px;
  margin-bottom  : 24px;
}

.logo {
  background-image: url("https://fakeimg.pl/250x250");
  width           : 250px;
  height          : 250px;
  /* 讓"文字LOGO"超出範圍 */
  text-indent     : 101%;
  /* 不換行 */
  white-space     : nowrap;
  /* 隱藏超出部分 */
  overflow        : hidden;
}


@media(max-width: 768px) {
  .header {
    flex-direction: column;
    align-items   : center;
  }

  .logo {
    background   : url("https://fakeimg.pl/150x150");
    height       : 150px;
    width        : 150px;
    margin-bottom: 10px;


  }

  .menu li {
    width: 50%;

  }

}

.menu {
  display  : flex;
  flex-wrap: wrap;

}

.menu li a {
  display         : block;
  background-color: #3399FF;
  padding         : 10px;
  color           : aliceblue;
  font-weight     : bolder;
  text-align      : center;
  margin          : 5px auto;
}

/* content&sidebar */

.main {
  display  : flex;
  flex-flow: row;
  justify-content: space-between;
}

.content {
  width: 75%;
  border : black solid 2px;
  padding: 10px;
}

.content h2 {
  font-weight  : bold;
  font-size    : 20px;
  line-height  : 1.2;
  margin-bottom: 24px;
}

.content p {
  line-height  : 1.5;
  font-size    : 16px;
  margin-bottom: 24px;
}

.sidebar {
  border : black solid 2px;
  padding: 5px;
  display       : flex;
  flex-direction: column;
  align-items   : center;
  width: 20%;

}
.sidebar img{
  margin-bottom: 10px;
}

@media(max-width: 768px) {
  .main {
    display  : flex;
    flex-flow: column;
  }
  .content,.sidebar{
    width: 100%;
  }
  .sidebar{
    margin : 20px auto 0;
  }
}

.footer{
  text-align: center;
  margin: 10px auto;
}